
<h2>Crear un nuevo árticulo</h2>
<%= form_for(@article) do |f| %>
    <div class="field">
        <%= f.text_field :title, placeholder: "Título" %>
    </div>
    <div class="field">
        <%= f.text_area :title, placeholder: "Escribe tu articulo" %>
    </div>
    <div class="field">
        <%= f.submit "Guardar" %>
    </div>
<%end%>